<!DOCTYPE html>
<html th:replace="~{FormLayout :: layout(~{::title}, ~{::div})}">
<head>
  <meta charset="UTF-8">
  <title>Edit Question</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
  <h2>Edit Question</h2>
  <form th:action="@{/questions/edit/{id}(id=${question.id})}" th:object="${question}" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" th:field="*{title}">
    </div>
    <div class="mb-3">
      <label for="option1" class="form-label">Option 1</label>
      <input type="text" class="form-control" id="option1" th:field="*{option1}">
    </div>
    <div class="mb-3">
      <label for="option2" class="form-label">Option 2</label>
      <input type="text" class="form-control" id="option2" th:field="*{option2}">
    </div>
    <div class="mb-3">
      <label for="option3" class="form-label">Option 3</label>
      <input type="text" class="form-control" id="option3" th:field="*{option3}">
    </div>
    <div class="mb-3">
      <label for="option4" class="form-label">Option 4</label>
      <input type="text" class="form-control" id="option4" th:field="*{option4}">
    </div>
    <div class="mb-3">
      <label for="rightAnswer" class="form-label">Correct Answer</label>
      <input type="text" class="form-control" id="rightAnswer" th:field="*{rightAnswer}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a th:href="@{/exams/{id}/questions(id=${question.id})}" class="btn btn-secondary ml-2">Cancel</a>
  </form>

</div>
</body>
</html>

