<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link
            rel="icon"
            th:href="@{/logo.jpg}"
            type="image/x-icon"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .container {
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .image-wrapper {
            margin-right: 40px;
        }

        .image-wrapper img {
            max-width: 200px;
            border-radius: 10px;
        }

        .content {
            text-align: center;
        }

        h2 {
            margin-bottom: 20px;
            color: #333;
        }

        .text-success {
            color: green;
            margin-bottom: 20px;
        }

        .login-link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #00c09d;
            border: 1px solid #00ab8c;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.2s ease-out;
        }

        .login-link:hover {
            background-color: #2ca893;
        }
        .login-button {
    display: block;
    margin: 0 auto;
    width: 100%;
/*     max-width: 162px; */
    padding-left: 40%;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: #696b79;
    height: 50px;
    border: 1px solid #bfc0c6;
    background-color: #fff;
    border-radius: 5px;
    text-align: left
}

.login-button:focus {
    outline: 0
}
.login-button:hover {
    box-shadow: 0 2px 5px #eaeaec
}
    </style>
</head>
<body>
<div class="container">
    <div class="image-wrapper">
        <img src="https://inkythuatso.com/uploads/thumbnails/800/2021/12/logo-dai-hoc-ha-noi-inkythuatso-22-13-54-01.jpg" alt="Login Image">

    </div>
    <div class="content">
        <h2>Login to HANU TEST</h2>
        <p th:if="${param.logout}" class="text-success">You have been logged out successfully.</p>
        <div>
            <!-- Link để đăng nhập qua Google ko sua nhe -->
            <a class="login-link" href="/oauth2/authorization/google">
                <span class="header-sprite login-gplus-logo"></span>

                <i class="fa-brands fa-google"></i>
                Login with Google</a>
        </div>

    </div>
</div>
</body>
</html>
