<!DOCTYPE html>
<html th:replace="~{FormLayout :: layout(~{::title}, ~{::div})}">
<head>
  <meta charset="UTF-8">
  <title>New Question</title>
</head>
<body>
<div class="container mt-5">

  <h2 class="mb-4">Create New Question</h2>
  <form th:action="@{/questions/{examId}(examId=${examId})}" th:object="${question}" method="post">
    <input type="hidden" th:field="*{exam.id}" th:value="${examId}"/>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" th:field="*{title}" />
    </div>
    <div class="form-group">
      <label for="option1">Option 1:</label>
      <input type="text" class="form-control" id="option1" th:field="*{option1}" />
    </div>
    <div class="form-group">
      <label for="option2">Option 2:</label>
      <input type="text" class="form-control" id="option2" th:field="*{option2}" />
    </div>
    <div class="form-group">
      <label for="option3">Option 3:</label>
      <input type="text" class="form-control" id="option3" th:field="*{option3}" />
    </div>
    <div class="form-group">
      <label for="option4">Option 4:</label>
      <input type="text" class="form-control" id="option4" th:field="*{option4}" />
    </div>
    <div class="form-group">
      <label for="rightAnswer">Correct Answer:</label>
      <input type="text" class="form-control" id="rightAnswer" th:field="*{rightAnswer}" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/exams/{examId}/questions(examId=${examId})}" class="btn btn-secondary ml-2">Cancel</a>
  </form>

</div>
</body>
</html>


