<!DOCTYPE html>
<html th:replace="~{FormLayout :: layout(~{::title}, ~{::div})}">
<head>
  <title>All Questions</title>
</head>
<body>
<div >
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <a th:href="@{/questions/{examId}/new(examId=${examId})}" class="btn btn-primary btn-icon-split mb-2">
                                <span class="icon text-white-50">
                                   <i class="fa-solid fa-plus"></i>
                                </span>
    <span class="text">New Question</span>
  </a>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
            <th>Correct Answer</th>
            <th>Exam Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
            <th>Correct Answer</th>
            <th>Exam Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </tfoot>
          <tbody>
          <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.title}"></td>
            <td th:text="${question.option1}"></td>
            <td th:text="${question.option2}"></td>
            <td th:text="${question.option3}"></td>
            <td th:text="${question.option4}"></td>
            <td th:text="${question.rightAnswer}"></td>
            <td th:text="${question.exam.name}"></td>
            <td>
              <a th:href="@{/questions/edit/{id}(id=${question.id})}" class="btn btn-primary"> <span class="icon text-white-50">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </span></a>
            </td>
            <td>
              <form th:action="@{/exam/question/delete/{id}(id=${question.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this question?');">
                <button type="submit" class="btn btn-danger"><span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span></button>
              </form>

            </td>

          </tr>
          </tbody>
        </table>
        <a href="/exams" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>

