<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" th:href="@{/richText/richtext.min.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/richText/jquery.richtext.min.js}"></script>

  <title>New Exam</title>
  <link
          rel="icon"
          th:href="@{/logo.jpg}"
          type="image/x-icon"
  />
  <!-- Custom fonts for this template-->
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
  <script>
        function showExamFields() {
            const examType = document.getElementById('hieu').innerText;
            const listeningFields = document.getElementById('listeningFields');
            const readingFields = document.getElementById('readingFields');
            const speakingFields = document.getElementById('speakingFields');
            const writingFields = document.getElementById('writingFields');
            console.log(examType)

            listeningFields.style.display = 'none';
            readingFields.style.display = 'none';
            speakingFields.style.display = 'none';
            writingFields.style.display = 'none';

            if (examType === 'LISTENING') {
                listeningFields.style.display = 'block';
            } else if (examType === 'READING') {
                readingFields.style.display = 'block';
            } else if (examType === 'SPEAKING') {
                speakingFields.style.display = 'block';
            } else if (examType === 'WRITING') {
                writingFields.style.display = 'block';
            }
            document.getElementById('examTypeInput').value = examType;
        }

        document.addEventListener('DOMContentLoaded', function() {
            showExamFields(); // Initial call to set the right fields based on initial selection
            document.getElementById('type').addEventListener('change', showExamFields);
        });
    </script>

</head>
<body id="page-top">
<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">HANU TEST<sup>❤</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/exams/history}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/exams}">
        <i class="fas fa-fw fa-cog"></i>
        <span>Exams</span>
      </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!--   End of Sidebar -->

  <!--   Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!--     Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <div class="topbar-divider d-none d-sm-block"></div>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span th:text="'Hello, ' + ${name}" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
              <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <form th:action="@{/logout}" method="post">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</button>
                </form>
              </a>
            </div>
          </li>
        </ul>

      </nav>
      <!-- End of Topbar -->
      <div class="container-fluid">
        <div class="container mt-3">
          <h2 th:text="${type}" id="hieu"></h2>
          <!--  <form th:action="@{/exams/edit/{id}(id=${exam.id})}" th:object="${exam}" method="post">-->
          <form th:action="@{/exams/saveOrUpdate}" th:object="${exam}" method="post">
            <input type="hidden" id="examTypeInput" name="type" th:field="*{examType}" />
            <input type="hidden" th:if="${exam.id != null}" th:field="*{id}" />
            <div class="mb-3">
              <label for="name" class="form-label">Name (tối đa 256 kí tự)</label>
              <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter exam name" required maxlength="256">
            </div>
            <div class="mb-3">
              <label for="duration" class="form-label">Duration (in minutes)</label>
              <input type="number" id="duration" th:field="*{duration}" class="form-control" placeholder="Duration in minutes" required min="0">
            </div>

            <!-- Listening Exam Specific Fields -->
            <div id="listeningFields" style="display: none;">

              <div class="mb-3">
                <label for="description" class="form-label">Link google drive <p style="color:red">Note: end with "/preview"</p></label>
                <textarea id="description" th:field="*{description}" class="form-control" placeholder="Type here . . ."></textarea>
              </div>
            </div>

            <!-- Reading Exam Specific Fields -->
            <div id="readingFields" style="display: none;">
              <div>
                <div class="mb-3">
                  <label for="textPassage1" class="form-label">Passage 1</label>
                  <textarea id="textPassage1" th:field="*{paragraph1}" class="form-control" placeholder="Enter text passage"></textarea>
                </div>

                <div class="mb-3">
                  <label for="textPassage2" class="form-label">Passage 2</label>
                  <textarea id="textPassage2" th:field="*{paragraph2}" class="form-control" placeholder="Enter text passage"></textarea>
                </div>

                <div class="mb-3">
                  <label for="textPassage3" class="form-label">Passage 3</label>
                  <textarea id="textPassage3" th:field="*{paragraph3}" class="form-control" placeholder="Enter text passage"></textarea>
                </div>

                <div class="mb-3">
                  <label for="textPassage4" class="form-label">Passage 4</label>
                  <textarea id="textPassage4" th:field="*{paragraph4}" class="form-control" placeholder="Enter text passage"></textarea>
                </div>

                <div class="mb-3">
                  <label for="textPassage4" class="form-label">Passage 5</label>
                  <textarea id="textPassage5" th:field="*{paragraph5}" class="form-control" placeholder="Enter text passage"></textarea>
                </div>
              </div>
            </div>

            <!-- Speaking Exam Specific Fields -->
            <div id="speakingFields" style="display: none;">
              <div class="mb-3">
                <label for="textPassage4" class="form-label">Speaking exam</label>
                <textarea id="textPassage6" th:field="*{paragraph6}" class="form-control" placeholder="Enter text passage"></textarea>
              </div>
            </div>

            <!-- Writing Exam Specific Fields -->
            <div id="writingFields" style="display: none;">
              <div class="mb-3">
                <label for="textPassage4" class="form-label">Writing exam</label>
                <textarea id="textPassage7" th:field="*{paragraph7}" class="form-control" placeholder="Enter text passage"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="${exam.id != null} ? 'Update Exam' : 'Create Exam'">Submit</button>
            <a href="/exams" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Your HTML content -->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Custom scripts for all pages -->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
    <script th:src="@{/js/sweetalert2.all.min.js}"></script>

    <!-- SweetAlert2 script -->

    <!-- RichText plugin initialization -->
    <script th:src="@{/richText/jquery.richtext.min.js}" defer></script>
    <script th:inline="javascript">
    $(document).ready(function() {
        $('#textPassage1').richText();
        $('#textPassage2').richText();
        $('#textPassage3').richText();
        $('#textPassage4').richText();
        $('#textPassage5').richText();
        $('#textPassage6').richText();
     $('#textPassage7').richText();
    });
</script>
  </div>
</div>
</body>
</html>









