<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>LISTENING</title>
  <link
          rel="icon"
          th:href="@{/logo.jpg}"
          type="image/x-icon"
  />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 20px;
      background-color: #f9f9f9;
    }
    #time {
      font-weight: bold;
      color: #ff0000;
    }
    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .question-container {
      margin-bottom: 20px;
    }
    .question-container label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .question-container p {
      margin: 0 0 10px 0;
    }
    .option-label {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-size: 1.2em; /* Increase font size */
    }
    .option-label input {
      margin-right: 10px;
      transform: scale(1.5); /* Increase size of radio buttons */
    }
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    button[type="submit"]:hover {
      background-color: #45a049;
    }
    #audioSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    #audioFrame {
      border: none;
    }
    #backToTopBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 99;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    #backToTopBtn img {
      width: 50px; /* Set the width of the image */
      height: 50px; /* Set the height of the image */
    }
    #backToTopBtn:hover img {
      opacity: 0.7; /* Add a hover effect */
    }
  </style>
</head>
<body>
<input type="hidden" id="examDuration" th:value="${examDuration}" />

<div>Time left: <span id="time"></span></div>
<div id="audioSection">
  <h2>Listen to the Audio:</h2>
  <iframe id="audioFrame" th:src="@{${file}}" width="600" height="300" allowfullscreen></iframe>
</div>

<form id="examForm" th:action="@{/exams/submit/{id}(id=${examId})}" method="post">
  <div th:each="question, questionIndex : ${questionWrapperList}" class="question-container">
    <label th:text="'Question ' + (${questionIndex.index + 1}) + ':'"></label>
    <p th:text="${question.title}"></p>
    <label class="option-label">
      A.
      <input type="radio" th:name="${'question' + question.id}" th:value="${question.option1}" th:text="${question.option1}">
    </label>
    <label class="option-label">
      B.
      <input type="radio" th:name="${'question' + question.id}" th:value="${question.option2}" th:text="${question.option2}">
    </label>
    <label class="option-label">
      C.
      <input type="radio" th:name="${'question' + question.id}" th:value="${question.option3}" th:text="${question.option3}">
    </label>
    <label class="option-label">
      D.
      <input type="radio" th:name="${'question' + question.id}" th:value="${question.option4}" th:text="${question.option4}">
    </label>
  </div>
  <button type="submit">Submit Exam</button>
</form>

<button id="backToTopBtn" title="Back to Top">
  <img src="https://png.pngtree.com/png-vector/20220628/ourmid/pngtree-up-arrow-direction-top-icon-png-image_5289676.png" alt="Lên đầu trang">
</button>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var duration = parseInt(document.getElementById('examDuration').value, 10);
      var timer = duration * 60, minutes, seconds;
      var countdown = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.querySelector('#time').textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          clearInterval(countdown);
          document.getElementById('examForm').submit();
        }
      }, 1000);
    });

    // Show or hide the back to top button
    window.onscroll = function() {
      var backToTopBtn = document.getElementById('backToTopBtn');
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        backToTopBtn.style.display = "block";
      } else {
        backToTopBtn.style.display = "none";
      }
    };

    // Scroll to the top of the page when the button is clicked
    document.getElementById('backToTopBtn').addEventListener('click', function() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>
</body>
</html>
