
<!DOCTYPE html>
<html th:replace="~{FormLayout :: layout(~{::title}, ~{::div})}">

<head>
    <title>Home</title>
</head>
<body>
<div >
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <a th:href="@{/exams/new}" class="btn btn-primary btn-icon-split mb-2">
                                <span class="icon text-white-50">
                                   <i class="fa-solid fa-plus"></i>
                                </span>
        <span class="text">New Exam</span>
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="exam : ${exams}">
                        <td th:text="${exam.id}"></td>
                        <td th:text="${exam.name}"></td>
                        <td th:text="${exam.examType}"></td>
                        <td th:text="${exam.duration} + ' minutes'"></td>
                        <td>
                            <a th:href="@{/exams/edit/{id}(id=${exam.id})}" class="btn btn-primary" sec:authorize="hasAnyRole('ADMIN')">
                                                        <span class="icon text-white-50">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </span>
                            </a>
                            <a th:href="@{/exams/delete/{id}(id=${exam.id})}" class="btn btn-danger btn-icon-split delete-btn" id="delete"><span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span></a>

                            <a th:href="@{/exams/{id}/questions(id=${exam.id})}" class="btn btn-info" sec:authorize="hasRole('ADMIN')">
                                                        <span class="icon text-white-50">
                                                            <i class="fa-solid fa-file-circle-question"></i>
                                                        </span>
                            </a>
                            <a th:href="@{/exams/take/{id}(id=${exam.id})}" class="btn btn-success">
                                                        <span class="icon text-white-50">
                                                            <i class="fa-solid fa-play"></i>
                                                        </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>

