<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Exam Result</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link
          rel="icon"
          th:href="@{/logo.jpg}"
          type="image/x-icon"
  />

  <!-- Custom styles for this template -->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

  <style>
    body {
      font-family: 'Nunito', sans-serif;
      background-color: #f8f9fc;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      text-align: center;
      background-color: #fff;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    h1 {
      font-size: 2.5em;
      color: #4e73df;
      margin-bottom: 20px;
    }
    .score {
      font-size: 3em;
      color: #1cc88a;
      margin-bottom: 30px;
    }
    .button-wrapper {
      margin-top: 20px;
    }
    .hidden-button {
      display: none;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="animate__animated animate__fadeInDown">The number of correct answers is:</h1>
  <div class="score"><h1 th:text="${score}"></h1></div>
  <a href="/exams" class="btn btn-secondary">Back to Home</a>
  <div class="button-wrapper">
    <button class="confetti-button hidden-button">Yay🎉</button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
<script>
    document.getElementsByClassName("confetti-button")[0].addEventListener("click", () => {
        var end = Date.now() + (15 * 1000);
        var colors = ['#bb0000', '#ffffff'];

        (function frame() {
            confetti({
                particleCount: 2,
                angle: 60,
                spread: 55,
                origin: { x: 0 },
                colors: colors
            });
            confetti({
                particleCount: 2,
                angle: 120,
                spread: 55,
                origin: { x: 1 },
                colors: colors
            });

            if (Date.now() < end) {
                requestAnimationFrame(frame);
            }
        }());
    });

    // Automatically click the confetti button after 2 seconds
    setTimeout(() => {
        document.getElementsByClassName("confetti-button")[0].click();
    }, 2000);
</script>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>
</html>
