<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link
          rel="icon"
          th:href="@{/logo.jpg}"
          type="image/x-icon"
  />
  <title>SPEAKING</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 20px;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #time {
      font-weight: bold;
      color: #ff0000;
      margin-bottom: 20px;
      font-size: 1.5em;
    }
    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 80%;
      max-width: 600px;
      text-align: center;
    }
    p {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
<input type="hidden" id="examDuration" th:value="${examDuration}" />
<div>Time left: <span id="time"></span></div>
<form id="examForm" th:action="@{/exams/submit/{id}(id=${examId})}" method="post">
  <div>
    <p th:utext="${text1}"></p>
  </div>
  <button type="submit">Submit Exam</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var duration = parseInt(document.getElementById('examDuration').value, 10);
    var timer = duration * 60, minutes, seconds;
    var countdown = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.querySelector('#time').textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            clearInterval(countdown);
            document.getElementById('examForm').submit();
        }
    }, 1000);
});
</script>
</body>
</html>
