<!DOCTYPE html>
<html th:replace="~{FormLayout :: layout(~{::title}, ~{::div})}">
<head>
  <title>Exam Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Exam Details</h1>
  <div>
    <p><strong>Exam:</strong> <span th:text="${examHistory.exam.name}"></span></p>
    <p><strong>User:</strong> <span th:text="${examHistory.user.username}"></span></p>
    <p><strong>Score:</strong> <span th:text="${examHistory.score}"></span></p>
    <p><strong>Date Taken:</strong> <span th:text="${#dates.format(examHistory.dateTaken, 'yyyy-MM-dd')}"></span></p>
  </div>
  <h2>User Responses</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Question ID</th>
      <th>Selected Option</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="response, questionIndex : ${examHistory.userResponses}">
<!--      <td th:text="${response.questionId}"></td>-->
      <td th:text="${questionIndex.index + 1}"></td>
      <td th:text="${response.selectedOption}"></td>
    </tr>
    </tbody>
  </table>
  <a href="/exams/history" class="btn btn-primary">Back to Dashboard</a>
</div>
</body>
</html>
