<!DOCTYPE html>
<html th:replace="~{FormLayout :: layout(~{::title}, ~{::div})}">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div >
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Exam</th>
                        <th>Score</th>
                        <th>Date Taken</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Exam</th>
                        <th>Score</th>
                        <th>Date Taken</th>
                        <th>Details</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="result : ${userExamResults}">
                        <td th:text="${result.exam.name}"></td>
                        <td th:text="${result.score}"></td>
                        <td th:text="${#dates.format(result.dateTaken, 'yyyy-MM-dd')}"></td>
                        <td><a th:href="@{/exams/history/{id}(id=${result.id})}">View Details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
